[submodule "scripts/create-nginx-vhost"]
	path = scripts/create-nginx-vhost
	url = https://github.com/beaudev/create-nginx-vhost.git
[submodule "scripts/db_tools"]
	path = scripts/db_tools
	url = git@github.com:beaudev/db_tools.git
